<!--Render toolbar component-->
<app-toolbar></app-toolbar>

<!-- div tag with flex as row wrap to itterate over the list of stocks and display the cards for each stock -->
<div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <!-- keep 3 cards in max for each row -->
    <div *ngFor="let appointment of appointmentList" fxFlex="30">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Patient ID: <strong>{{appointment.patientId}}</strong></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Test Id: <strong>{{appointment.testId}}</strong></p>
          <p>Date of Appointment: <strong>{{appointment.date}}</strong></p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button color="primary" (click)="modify(appointment)">Modify</button>
          <button mat-button color="primary" (click)="remove(appointment.bookId)">Remove</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>